.cart {
    width: 100%;
    display: flex; 
    justify-content: center; 
    background-color: #121212;
}

.cart-container {
    width: 80%; 
    max-width: 600px; 
    padding: 20px; 
    border: 1px solid #444; 
    border-radius: 8px; 
    background-color: #2a2a2a; 
    box-shadow: 0px 8px 20px rgba(192, 192, 192, 0.3), 
                0px 4px 10px rgba(192, 192, 192, 0.2);
    margin-top: 50px;
}

.cart-container h2 {
    text-align: center; 
    font-size: 24px; 
    margin-bottom: 20px; 
    color: #e0e0e0; 
}

.cart-container p {
    font-size: 18px; 
    color: #b0b0b0; 
}

.cart-container ul {
    list-style-type: none; 
    padding: 0; 
}

.cart-container li {
    border-bottom: 1px solid #ddd; 
    padding: 10px 0; 
}

.cart-container li h4 {
    margin: 0; 
    font-size: 20px; 
    color: #007bff; 
}

.cart-container li p {
    margin: 5px 0; 
    font-size: 16px; 
    color: #b0b0b0; 
}

.cart-container input {
    background-color: #1f1f1f;
    color: #e0e0e0;
    width: 60px; 
    padding: 5px; 
    border: 1px solid #555; 
    border-radius: 4px; 
    margin-right: 10px; 
}

.cart-container h3 {
    margin-top: 20px; 
    font-size: 20px; 
    color: #b0b0b0; 
}

.cart-container select {
    width: 100%; 
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: #e0e0e0;
    font-size: 16px;
    outline: none;
    transition: border 0.3s;
    margin-top: 10px;
}
.fizetes{
    margin-top: 20px; 
    text-align: center; 
    display: flex;
    justify-content: center;
}
.fizetes button:hover{
    background-color: green;
}
.cart-container button{
    width: auto;
}
.torles{
    margin-top: 20px; 
    text-align: center; 
    display: flex;
    justify-content: center;
}
.torles button:hover{
    background-color: red;
}