.search-component{
    display: flex;
    justify-content: center;

    padding: 30px;
}
.search-component input {
    width: 50%;
    font-size: 1.1em;
    padding: 10px;
    border-radius: 5px;
    background-color: #242424;
    color: #d4d4d4; 
    border: 1px solid #3e3e3e; 
    border-radius: 20px;
}

.search-component input::placeholder {
    color: #9a9a9a; 
}
@media (max-width: 768px) {
    .search-component input {
        width: 80%;
    }
}
